@import "fonts.scss";
@import "var.scss";
@import "main.scss";
@import "blocks/arrows.scss";
@import "blocks/indicators.scss";
@import "blocks/slider.scss";
@import "blocks/slide.scss";
@import "blocks/slider-settings.scss";

