$font-primary: "Open Sans", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;
$color-white: rgba(255, 255, 255, 1);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-black:  rgba(0, 0, 0, 1);
$color-black-05:  rgba(0, 0, 0, 0.05);
$color-black-10:  rgba(0, 0, 0, 0.1);
$color-black-50:  rgba(0, 0, 0, 0.5);
$color-silver: rgb(192, 192, 192);
$color-grey: rgb(128, 128, 128);
$color-dimgray: rgb(105, 105, 105);
$color-skyblue: rgb(135, 206, 250);
