.slideRight {
  animation-name: slideRight;
  animation-duration: 0.2s;
}

@keyframes slideRight {
  from {transform: translateX(-100%);}
  to {transform: translateX(0%);}
 }

 .slideLeft {
  animation-name: slideLeft;
  animation-duration: 0.2s;
}

@keyframes slideLeft {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
 }
