.arrows__btn {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.arrows__next {
  margin-right: -10px;
  margin-left: auto;
  top: calc(50% - 25px);
  right: 0;
}

.arrows__prev {
  margin-left: -10px;
  top: calc(50% - 25px);
}
