.arrows__btn {
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  &:focus {
    outline: none;
  }
}

.arrows__prev-icon,
.arrows__next-icon {
  transition: all 0.3s ease-in-out;
}

.arrows__next {
  margin-left: auto;
  right: 0;
  &:hover > .arrows__next-icon {
    box-shadow: none;
    transform: translateX(-10px) scale(1.2);
  }
}

.arrows__prev {
  margin-left: 0;
  left: 0;
  &:hover > .arrows__prev-icon {
    box-shadow: none;
    transform: translateX(10px) scale(1.2);
  }
}


.arrows__next,
.arrows__prev {
  bottom: -50px;
  border-radius: 0;
  &:hover {
    box-shadow: none;
  }
}

