.arrows-btn {
  width: 50px;
  height: 50px;
  border: 0;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  transition: all 0.15s ease-in-out;
  &:focus {
    outline: none;
  }
}

.arrow-prev-icon,
.arrow-next-icon {
  transition: all 0.3s ease-in-out;
}

.arrow-next {
  margin-left: auto;
  right: -5px;
  &--hide {
    transform: translateX(50px);
    opacity: 0;
  }
  &:hover > .arrow-next-icon {
    box-shadow: none;
    transform: translateX(-10px) scale(1.2);
  }
}

.arrow-prev {
  margin-left: 0;
  left: -5px;
  &--hide {
    transform: translateX(-50px);
    opacity: 0;
  }
  &:hover > .arrow-prev-icon {
    box-shadow: none;
    transform: translateX(10px) scale(1.2);
  }
}

.arrow-next,
.arrow-prev {
  bottom: calc(50% - 25px);
  border-radius: 0;
  &:hover {
    box-shadow: none;
  }
}
