.dots{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 60px;
  @media (orientation: landscape) {
    bottom: 30px;
  }
}

.dots__item {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.dots__item-inner {
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white-50;
  border-radius: 25px;
  transition: all 0.15s ease-in-out;

  &--active {
    width: 10px;
    height: 10px;
    background-color: $color-white;
  }
}

@media (min-width: $tablet-width) {
  @media (orientation: landscape) {
    .dots {
      bottom: 60px;
    }
  }
}

@media (min-width: $desktop-width) {
  @media (orientation: landscape) {
    .dots {
      bottom: 60px;
    }
  }
}
