.indicators {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.indicator {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover::after {
    width: 10px;
    height: 10px;
  }
  &:after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $color-grey;
    border: 1px solid $color-grey;
    position: absolute;
    z-index: -1;
    transition: all 0.15s ease-in-out;
  }
  &--active {
    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-white;
      border: 1px solid $color-grey;
      position: absolute;
      z-index: -1;
      transition: all 0.15s ease-in-out;
    }
  }
}
