main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-settings {
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  order: 1;
  & input[type=checkbox] {
    transform: scale(1.2);
    margin-left: 5px;
  }
  & input[type=number] {
    width: 50px;
    margin-left: 5px;
    border: 1px solid $color-black-50;
    border-radius: 5px;
  }
  & input[type=range] {
    width: auto;
    transform: scale(1.1);
    margin-left: 15px;
    margin-right: 15px;
  }
  & label {
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    border-radius: 5px;
    background-color: $color-black-30;
  }
  & span {
    display: block;
    width: 50px;
  }
  & .label-autoplay {
    background-color: lightslategray;
  }

  & .label-adaptive {
    background-color: lightsteelblue;
  }
}

@media (min-width: $tablet-width) {
  .slider {
    order: 1;
  }
  .slider-settings {
    order: 0;
  }
}
