.slider-settings {
  font-size: 14px;
  margin: 15px 0 15px;
  max-width: $desktop-width;
  display: flex;
  flex-direction: column;
  order: 1;
}

.slider-settings label {
  white-space: nowrap;
  margin: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  background-color: $color-skyblue;
}

.slider-settings label,
.slider-settings input {
  &:hover {
    cursor: pointer;
  }
}

.slider-settings input[type=checkbox] {
  &:not(:checked) + label {
    color: $color-dimgray;
    background-color: $color-silver;
  }
  &:checked + label {
    background-color: $color-skyblue;
  }
}

.slider-settings input[type=number]{
  font-size: 14px;
  padding: 3px;
  text-align: right;
  color: $color-grey;
  width: 40px;
  margin-left: 10px;
  border: 0;
  border-radius: 2.5px;
}

.slider-settings input[type=range] {
  width: 100px;
  margin-left: 5px;
  margin-right: 10px;
}

.slider-settings span {
  display: block;
}

.slider-settings span.label-text {
  width: auto;
  margin-right: auto;
}

.slider-settings span.label-text-output {
  width: 40px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .slider {
    order: 1;
  }

  .slider-settings {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    order: 0;
  }
}
