.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider {
  order: 0;
  position: relative;
  overflow: hidden;

  background-color: $color-black-05;
}
