.slide {
  position: relative;
  display: flex;
}

.slide__content {
  font-size: calc(0.95em + 1vmin);
  width: 65%;
  min-height: 30vh;
  color: $color-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.slide__image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @media (orientation: landscape) {
    margin-bottom: 0;
  }
}

.slide__background {
  display: none;
}

.slide__caption {
  font-size: calc(0.65em + 1vmin);
  text-align: center;
  color: $color-white;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color:$color-black-50;
}

.slide__item {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &--without-caption > .slide__caption {
    display: none;
  }
}

.slide__item a {
  font-size: calc(0.75em + 1vmin);
  text-align: center;
  text-decoration: none;
  color: $color-mine-shaft;
  margin: 0 auto;
  margin-top: 45px;
  padding: 3px 11px;
  max-width: 150px;
  display: block;
  background-color: $color-white;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-white-80;
  }
}

@media (min-width: $tablet-width) {
  .slide__content {
    margin-top: 50px;
    min-height: 50vh;
  }

  .slide__image {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: $desktop-width) {
  .slide__content {
    margin-top: 50px;
    min-height: 60vh;
  }

  .slide__image {
    width: 150px;
    height: 150px;
  }

  .slide__item a {
    @media (orientation: landscape) {
      margin-top: 55px;
    }
  }
}
