.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider {
  margin: 15px auto;
  order: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  outline: 2px dashed $color-black-10;
}
