.slider-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider {
  order: 0;
  position: relative;
  overflow: hidden;
  outline: 2px dashed $color-black-10;
  background-color: $color-black-05;
}
