
.content__btn {
  font-size: calc(0.45em + 1vmin);
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  transition: all 0.2s ease-in-out;
  color: $color-white;
  text-decoration: none;
  &--night {
    background-color: $color-black;
  }
  &--alert {
    background-color: $color-red;
  }
  &:hover {
    transform: translateY(-1px);
    cursor: pointer;
    box-shadow: 0 5px 10px $color-black-30;
  }
}

.slide {
  color: $color-white;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
}

.slide__caption {
  font-size: calc(0.65em + 1vmin);
  text-align: center;
  color: $color-white-80;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: $color-black-50;
  z-index: 999;
}

.caption__btn {
  color: $color-white;
  display: inline;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:before {
    content: "\1F517";
    display: inline;
    padding: 0 10px;
  }
  &:hover {
    color: $color-white-50;
  }
}

.slide__item {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  &--no-caption > .slide__caption {
    display: none;
  }
  &--no-caption > .slide__caption--forced {
    display: block;
  }
}

.slide__item p {
  display: inline-block;
  text-align: center;
}

.slide__content {
  font-size: calc(0.95em + 1vmin);
  width: 70%;
  min-height: 30vh;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  &:before {
    content: "";
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    z-index: -1;
    background-color: $color-black-50;
  }
  &--no-bg {
    font-size: calc(0.95em + 1vmin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 30vh;
    position: absolute;
    text-align: center;
  }
}

.slide__content a {
  color: $color-white;
  display: inline;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $color-white-50;
    text-decoration: none;
  }
}

.slide__background {
  display: none;
}

.slide__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @media (orientation: landscape) {
    margin-bottom: 0;
  }
}

.slide__image {
  max-width: 100%;
  position: absolute;
}



video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

@media (min-width: $tablet-width) {
  .slide__avatar {
    width: 100px;
    height: 100px;
  }
}
