main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider-settings {
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  order: 1;
  & label {
    white-space: nowrap;
    margin: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background-color: $color-black-30;
  }
  & input[type=checkbox] {
    transform: scale(1.2);
    margin-left: 15px;
  }
  & input[type=number],
  & input[type=number]{
    width: 50px;
    margin-left: 10px;
    margin-right: 5px;
    border: 0;
    border-radius: 3px;
  }
  & input[type=range] {
    width: 30%;
    transform: scale(1.1);
    margin-left: 15px;
    margin-right: 10px;
  }
  & input[type=range][name=wrange],
  & input[type=range][name=hrange] {
    width: auto;
  }

  & span {
    display: block;
    width: 30px;
    text-align: right;
    margin-right: 5px;
  }
  & span.label-title {
    display: block;
    width: auto;
    margin-right: auto;
  }
}

label.label-connected {
  margin: 0;
}

label.label-autoplay,
label.label-adaptive {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

label.label-autoplay-delay,
label.label-slides-count {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.slider-settings-adaptive,
.slider-settings-autoplay {
  display: flex;
  flex-wrap: nowrap;
}

@media (min-width: $tablet-width) {
  .slider {
    order: 1;
  }
  .slider-settings {
  flex-direction: row;
    flex-wrap: wrap;
    order: 0;
    & label {
      flex-grow: 0;
    }
    & input[type=range] {
      width: auto;
      transform: scale(1.1);
      margin-left: 15px;
      margin-right: 10px;
    }
    & span {
      display: block;
      width: 50px;
      text-align: right;
      margin-right: 5px;
    }
  }
}
