.slides {
  color: $color-black;
  position: relative;
  display: flex;
}

.caption,
.caption--forced {
  font-size: calc(0.65em + 1vmin);
  text-align: center;
  color: $color-white;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: $color-black-50;
  z-index: 999;
}

.slide > * {
  text-align: center;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $color-white;
  background-blend-mode: multiply;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  overflow: hidden;
  &--no-caption > .caption {
    display: none;
  }
  &--no-caption > .caption--forced {
    display: flex;
  }
}

.background {
  display: none;
}

.content--bg-dark {
  font-size: calc(0.95em + 1vmin);
  color: $color-white;
  width: 80%;
  min-height: 30vh;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      background-color: $color-black-50;
    }
}

.content--bg-light {
  font-size: calc(0.95em + 1vmin);
  color: $color-black;
  text-align: center;
  width: 80%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    z-index: -1;
    background-color: $color-white-50;
  }
}

.content-btn {
  font-family: "Open Sans Bold", "Open Sans", Arial, sans-serif;
  font-size: calc(0.45em + 1vmin);
  color: $color-white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: $color-grey;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-1px);
    cursor: pointer;
    box-shadow: 0 5px 10px $color-grey;
  }
}

.content a {
  font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
  color: $color-white;
  display: inline;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $color-silver;
    text-decoration: none;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $color-white-50;
  @media (orientation: landscape) {
    margin-bottom: 0;
  }
}

.image {
  width: 100%;
  @media (orientation: landscape) {
    width: 70%;
    height: 90%;
  }
}

.caption-btn {
  color: $color-white;
  display: inline;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:before {
    content: "\1F517";
    display: inline;
    padding: 0 10px;
  }
  &:hover {
    color: $color-silver;
  }
}

@media (min-width: $tablet-width) {
  .avatar {
    width: 100px;
    height: 100px;
  }
}
